@charset "EUC-KR";

a{
	text-decoration: none;
}

/*main_header-------------------------------------------------------------------------------------- */
#main_header{
	box-sizing: border-box;
	vertical-align: bottom;
	height: 100vh;
	position: static;
}

#main_header img{
	width:100%;
	height: 100%;
	object-fit:cover;
	vertical-align: bottom;
}

#main_header #find_b{
	top:50%;
	transform:translateY(-50%);
    width: 100%;
	position: absolute;
}

#main_header #top_box{
	height:80px;
	width: 100%;
	position:absolute;
	top:0;
	left:0;	
}

#main_header #top_box #logo{
	display: inline-block;
}

#main_header #top_box #top_menu{
	display:inline-block;
	width:400px;
	height:80px;
	position: absolute;
	top:0;
	right:0;
	margin:0 auto;
	text-align: right;
}

#main_header #top_box #top_menu ul{
	list-style: none;
	font-size: 15px;
	font-weight: bold;
	color:white;
}

#main_header #top_box #top_menu ul li{
	float: left;
	margin:20px;
}
#main_header #top_box #top_menu ul li a{	
	color:white;	
}
#main_header #find_box{
	display:inline-block;
	position:relative;
	left:70px;
	top:0px;
	width:400px;
	height:500px;
	background-color:white;
	border-radius: 3px;
	padding-left:20px;
	box-shadow: 16px 40px rgba(0,0,0,0.12);
	z-index: 100;
}

#main_header #find_box h1{
	color:#2d2d2d;
}

#main_header #find_box label{
	display:inline-block;
	width: 192px;
	margin-top: 25px;
	margin-bottom:10px;
	font-size: 13px;
}

#main_header #find_box input{
	height: 35px;
}

#main_header #find_box input[type=date]{
	width: 181px;
}

#main_header #find_box #btn_find{
	background-color:#ff5a5f;	
	border: 0px solid #ccc;
	color:white;
	font-size: 15px;
	font-weight:bold;
	border-radius: 3px;
	width: 75px;
	height: 35px;
	margin-top: 20px;
}

/*main_content-------------------------------------------------------------------------------------- */
#main_content{
	box-sizing: border-box;
	height: auto;
	width: 100%;
	margin:0 auto;
	text-align: center;
}

#main_content .content_title{
	height:80px;
	margin:0 auto;
	text-align: center;
	margin-top:50px;
}

#main_content h2{
	display:inline-block;
	width:90%;
	color:#2d2d2d;
	text-align: left;
}

#main_content #find_type{
	width:90%;
	margin:0 auto;
	text-align:center;
}

#main_content #find_type #find_type_buttons{
	margin-bottom:60px;	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-around;
}

#main_content #find_type #find_type_buttons .find_box{
	width: 240px;
	text-decoration: none;
	border-radius: 10px;
	color:#484848;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px;
	font-size: 14px;
	font-weight: bold;
}

#main_content #find_type #find_type_buttons .find_box img{
	border-radius: 10px;
}

#main_content #find_type #find_type_buttons .find_box div{
	flex-basis : 240px;
	height:40px;
	border-radius: 10px;
	line-height: 40px;
}

#main_content #find_house{
	margin:0 auto;
	text-align: center;
}


#main_content #find_house #banner_box{
	margin:0 auto;
	border-radius: 10px 10px;
	width:90%;
	height:400px;
	background-image: url("../img/main/test2.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	text-align: center;
}

#main_content #find_house #banner_box #banner_vertical{
	display:table;
	width: inherit;
	height: inherit;
	margin:0 auto;
	text-align: center;
}

#main_content #find_house #banner_box #banner_box_content{
	display: table-cell;
	width:80%;
	margin:0 auto;
	vertical-align:middle;
}

#main_content #find_house #banner_box #banner_title{
	font-weight:bold;
	color:#5A4F3F;
	color:#fff;
	font-size:30px;
}


#main_content #find_house #banner_box #banner_title h1{
	font-size: 1.5em;
	margin-top:0;
	
}

#main_content #find_house #banner_box #c_find_button{
	display: inline-block;
	border-radius:50px 50px;
	background-color : white;
	width:150px;
	height:40px;
}

#main_content #find_house #banner_box #c_find_button a{
	text-decoration: none;
	line-height: 40px;
	color:#484848;
	font-weight: bold;
}

#main_content #find_city{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

#main_content #find_city #find_citybtns{
	margin-bottom:20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-around;
}

#main_content #find_city #find_citybtns .city_box{
/* 	margin:5px 10px; */
	color:#000;
	width: 253px;
	height: 480px;
}

#main_content #find_city #find_citybtns .city_box img{
	width: inherit;
	border-radius: 10px;
}

#main_content #find_city #find_citybtns p{
	font-size: 14px;
	font-weight: bold;
	color:#484848;
	text-align: left;
	padding-left:10px;
}

#main_content #find_city #find_citybtns .city_name{
	width:inherit;
	font-size: 13px;
	text-align: left;
	padding:0 10px;
}

#main_content #best_homes{
	width:90%;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-around;
}

#main_content .b_cont{
	margin-bottom: 30px;
}

#main_content .b_slide_wrap { 
	position: relative;
	width: 410px;
	margin: auto;
	margin-bottom: 10px;
}
#main_content .b_slide_box { 
	width: 100%; 
	margin: auto; 
	overflow-x: hidden; 
}
#main_content .b_slide_content { 
	display: table; 
	float: left; 
	width: 409.6px; 
}

#main_content .b_slide_content img{
	width: 100%;
	border-radius: 5px;
	box-sizing: border-box;
}

#main_content .b_slide_btn_p{
	position: absolute !important;
    display: block !important;
    top: 50% !important;
    pointer-events: auto !important;
    transform: translateY(-50%) !important;
    left: 8px !important;
}

#main_content .b_slide_btn_n{
    position: absolute !important;
    display: block !important;
    top: 50% !important;
    pointer-events: auto !important;
    transform: translateY(-50%) !important;
    right: 8px !important;
}

#main_content button{
	-webkit-box-pack: center !important;
    -webkit-box-align: center !important;
    -webkit-appearance: none !important;
    display: inline-block;
    color: rgb(34, 34, 34) !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    cursor: pointer !important;
    align-items: center !important;
    justify-content: center !important;
    background-clip: padding-box !important;
    box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 1px 2px !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    border-image: initial !important;
    outline: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: rgba(0, 0, 0, 0.08) !important;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s, transform 0.25s ease 0s !important;
	line-height: 15px;
}

#main_content button>img{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

#main_content .b_slide_pagination_box{
	position: absolute !important;
	margin: 0 auto;
	text-align: center;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    margin-bottom:5px;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%) !important;
    border-radius: 5px;
    box-sizing: border-box;
}

#main_content .b_slide_pagination{
	overflow:hidden;
	padding:0;
	display:inline-block;
	margin: 0 auto;
	list-style: none;
}

#main_content .b_slide_pagination li{
	float: left;
    margin: 10px 5px;
	background-color: rgba(255, 255, 255, 0.9) !important;
	height:4px;
	width: 4px;
	border-radius: 50%;
	border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.09);
    box-sizing: border-box;
}

#main_content .b_dot_active{
	border-style: solid !important;
    border-width: 2px !important;
    border-color: rgba(0, 0, 0, 0.09) !important;
}

#main_content .b_h_content_box{
	text-align: left;
	font-size: 13px;
	color: #484848;
	overflow: hidden;
	cursor: pointer;
}

#main_content .b_h_content_tit{
	overflow: hidden;
}

#main_content .b_h_name{
	display:inline-block;
	width:85%;
	font-size: 14px;
	color: rgb(113, 113, 113);
	margin-bottom: 10px;
	float: left;
}

#main_content .b_h_grade{
	display: inline-block;
	width: 15%;
	font-size: 13px;
	margin-bottom: 10px;
	line-height: 16px;
	overflow: hidden;
	text-align: right;
}

#main_content .b_h_grade>img{
	float: left;	
	margin-right: 5px;
}

#main_content #loading{
	margin:0 auto;
}


